:root {
  --acsent: slateblue;
  --background: #f5f5f5;
  --font-color: #000;
  --box-color: #fff;
  --footer: #33333399;
}

.dark {
  --acsent: slateblue;
  --background: #333;
  --font-color: #fff;
  --box-color: #303030;
  --footer: #f5f5f599;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background);
  color: var(--font-color);
}

/* NAVBAR */

nav {
  background-color: var(--background);
  color: var(--font-color) !important;
}

.navbar-brand {
  font-weight: bold;
  color: var(--font-color) !important;
}

.nav-link {
  margin-left: 1rem !important;
  border-bottom: 2px solid transparent;
  color: var(--font-color) !important;
}

.nav-link:hover {
  color: var(--acsent) !important;
}

.nav-link.active {
  border-bottom: 2px solid var(--font-color);
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--acsent);
}

input:checked + .slider::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: white;
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

/* END NAVBAR */

section {
  padding-top: 6rem;
}

h1 {
  font-weight: 700;
}

/* HOME */

#home {
  padding-top: 8rem;
}

#home h1 {
  font-size: 50px;
  padding-top: 50px;
  line-height: 1.5;
}

#home p {
  font-size: 20px;
}

.btn {
  background-color: var(--acsent);
  color: #fff;
  height: 50px;
}

/* SHARE */
.title h1 {
  font-size: 35px;
}

#share h1 {
  padding-top: 50px;
  line-height: 1.5;
}

#share p {
  font-size: 20px;
}

/* DECOR */

#decor .fon {
  font-size: 20px;
}

.card-cos {
  padding: 25px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  background-color: var(--box-color);
}

.card-cos img {
  transition: 0.3s linear;
}

.card-cos:hover img {
  transform: translateY(-20px);
}

.card-cos a {
  text-decoration: none;
  color: var(--acsent);
}

#decor .img-over img {
  padding: 0 3rem;
}
/* END DECOR */

/* ACCESSORY */

.love {
  position: absolute;
  width: 46px;
  height: 46px;
  background-color: var(--acsent);
  bottom: 0;
  right: 0px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #fff;
}

#acsr .img-over {
  padding: 0 1rem;
}

#acsr .fon {
  font-size: 18px;
}

/* SEND */
#send .container {
  padding: 40px;
  background-color: var(--acsent);
  border-radius: 30px;
  color: #fff;
}

.img-over img {
  width: 100%;
}

.wrapper {
  display: flex;
  background-color: var(--box-color);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

#send input {
  height: 50px;
  width: 90%;
  outline: none;
  border: none;
  background-color: var(--box-color);
  color: var(--font-color);
}

/* END SEND */

/* US */

#us .ico {
  display: flex;
  font-size: 25px;
}

#us h1 {
  line-height: 1.8;
}

/* END US */

#btn-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #6a5acd99;
  padding: 5px;
}

footer {
  color: var(--footer);
  margin-top: 5rem;
}

@media screen and (max-width: 992px) {
  .navbar-nav {
    text-align: center;
  }

  #home h1 {
    font-size: 37px;
    padding-top: 10px;
  }

  #share h1 {
    font-size: 30px;
    padding-top: 10px;
  }

  #home p,
  #share p {
    font-size: 16px;
  }

  .title h1 {
    font-size: 25px;
  }
}

@media screen and (max-width: 768px) {
  #send h1,
  #send p {
    text-align: center;
  }
}

@media screen and (max-width: 768px) and (min-width: 576px) {
  #home h1 {
    font-size: 25px;
    padding-top: 0;
  }

  #home p {
    font-size: 12px;
  }

  #share h1,
  #decor h1 {
    font-size: 20px;
    padding-top: 0;
  }

  #share p {
    font-size: 12px;
  }
}

@media screen and (max-width: 576px) {
  #share .col-sm-5 {
    text-align: center;
  }
  #home .img-over img,
  #share .img-over img {
    padding: 0 3rem;
  }
}

@media screen and (max-width: 416px) {
  #home .img-over img,
  #share .img-over img {
    padding: 0 2rem;
  }
}
